<div class="banner-container">
    <img  class="banner_image" src="../../assets/banner.png" />
</div>
<div class="games-container">
    <div class="game" *ngFor="let el of games; let i = index" [ngClass]="{'headGame': i == 0, 'hide': el[1].vendor_code !== 'CTRGSECASINO'}">
        <img class="game_image" src={{el[1].img_url}}>
        <div class="game-footer">
            <p>{{el[1].name}} <span>✰</span></p>
        </div>
        <div class="hover-footer">
            <button><a href={{el[1].launch_url}}>Демо</a></button>
            <button><a href={{el[1].demo_launch_url}}>Играй</a></button>
        </div>
    </div>
</div>
