/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

app-main {
    height: 100vh;
    width: 100%;
    background-color: red;
    /* display: flex; */
}

.banner-container {
    height: 30vh;
    width: 100%;
    /* position: absolute; */
    background-color: blue;
    /* display: flex; */
}

.banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games-container{
    display: grid;
    grid-template-areas: 'auto auto auto auto';
    background-color: #15171D;
    padding: 25px;
}

.game{
    /* height: 20vh; */
    /* background-color: red; */
    background-image: url("../src/assets/test.png");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 25vh;
    border-radius: 15px;
}

.game-footer{
    background-color: #1D2129;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: none;
}

.hover-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.hover-footer button {
    width: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
}

.game-footer span {
    float: right;
    padding-right: 5px;
    color: #00EBFF;
}
.game-footer p {
    padding-left: 5px;
}