/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

app-main {
    height: 100vh;
    width: 100%;
    background-color: red;
    /* display: flex; */
}

.banner-container {
    height: 30vh;
    width: 100%;
    /* position: absolute; */
    background-color: blue;
    /* display: flex; */
}

.banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games-container{
    display: grid;
    background-color: #15171D;
}

.game{
    height: 20vh;
    /* background-color: red; */
}