/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

app-main {
    height: 100vh;
    width: 100%;
    background-color: red;
    /* display: flex; */
}

.banner-container {
    height: 30vh;
    width: 100%;
    /* position: absolute; */
    background-color: blue;
    /* display: flex; */
}

.banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games-container{
    display: grid;
    grid-template-areas: 'auto auto auto auto';
    background-color: #15171D;
    padding: 25px;
}

.game{
    /* height: 20vh; */
    /* background-color: red; */
    background-image: url("../src/assets/test.png");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 25vh;
    border-radius: 15px;
}

.game:hover .game-footer, .game.hover .game-footer{
    top: 0;
    right: 0;
    background-color: transparent;
}
.game:hover .hover-footer, .game.hover .hover-footer{
    display: block;
}
.game:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                       rgba(0, 0, 0, 0.7)), url("../src/assets/test.png");
}

.game-footer{
    background-color: #1D2129;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.hover-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display:none;
}

.hover-footer button {
    width: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    height: 5vh;
    color: white;
}
.hover-footer button:first-child {
    background-color: #232833;
    border-radius: 0 0 0 15px;
}
.hover-footer button:last-child {
    background-color: #0074FA;
    border-radius: 0 0 15px 0;
}

.game-footer span {
    float: right;
    padding-right: 5px;
    color: #00EBFF;
}
.game-footer p {
    padding-left: 5px;
}